<h1>Chatters#index</h1>
<p>My Chatter listing</p>
<%= link_to "Go back to user controller", users_path %>
<hr/>
<table>
  <% @feed_items.each do |feed_item| %>
    <tr>
      <td>
        <%=  feed_item.likes    %>
      </td>
      <td>
        <%= feed_item.comments  %>
      </td>
      <td>
        <%=  feed_item.comment("This is cool")%>
      </td>
      <td>
        <%=  feed_item.like    %>
      </td>
    </tr>
  <% end %>
</table>